POSTGRES_DB=rifnote_data
POSTGRES_USER=rifnote
POSTGRES_PASSWORD=change-this-long-postgres-password
POSTGRES_PORT=5432

REDIS_PASSWORD=change-this-long-redis-password
REDIS_PORT=6379

RIFNOTE_DATA_API_TOKEN=change-this-long-api-token
RIFNOTE_DATA_API_PORT=3010
RIFNOTE_WORDPRESS_URL=https://rifnote.com

POSTGRES_HOST=postgres
REDIS_HOST=redis
